<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" Title="后台" controller="Home" action="Overview">
    <siteMapNode SystemName="Account" Title="账户管理(待完善)" controller="Home" action="Index" IconClass="fa-users" />
    <siteMapNode SystemName="Catalog" Title="香港代购"  IconClass="fa-shopping-cart" >
      <siteMapNode SystemName="Customer" Title="客户管理"  controller="Customer" action="Index" IconClass="fa-user"/>
      <siteMapNode SystemName="Product" Title="商品管理"  controller="Product" action="Index" IconClass="fa-object-group"/>
      <siteMapNode SystemName="Purchase" Title="采购订单"  controller="Purchase" action="Index" IconClass="fa-list"/>
      <siteMapNode SystemName="Sale" Title="销售订单"  controller="Sale" action="Index" IconClass="fa-list-alt"/>
      <siteMapNode SystemName="Statistics" Title="统计管理"  controller="Statistics" action="Index" IconClass="fa-bank"/>
    </siteMapNode>
    <siteMapNode SystemName="Photo" Title="我的相册"  IconClass="fa-file-photo-o">
      <siteMapNode SystemName="Photo" Title="相册管理" controller="Photo" action="Index"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Video" Title="家庭视频" IconClass="fa-file-video-o" >
      <siteMapNode SystemName="Video" Title="视频管理" controller="Video" action="Index" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Other" Title="其他点滴" IconClass="fa-tags">
    </siteMapNode>
  </siteMapNode>
</siteMap>