<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" Title="后台" controller="Home" action="Overview">
    <siteMapNode SystemName="Account" Title="账户管理(待完善)" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Catalog" Title="商品目录"  IconClass="fa-book" >
      <siteMapNode SystemName="Products" Title="商品管理"  controller="Product" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Categories" Title="商品分类" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Manufacturers" Title="制造商管理"  controller="Manufacturer" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Bulk edit products" Title="批量操作"  controller="Product" action="BulkEdit" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Product reviews" Title="商品评论"  controller="ProductReview" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Product tags" Title="商品标签" controller="Product" action="ProductTags" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Low stock report" Title="低库存报告"  controller="Product" action="LowStockReport" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Attributes" Title="属性管理" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Product attributes" Title="商品属性" controller="ProductAttribute" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Specification attributes" Title="属性规格" controller="SpecificationAttribute" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Checkout attributes" Title="结帐属性" controller="CheckoutAttribute" action="List" IconClass="fa-genderless"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Sales" Title="销售管理"  IconClass="fa-shopping-cart">
      <siteMapNode SystemName="Orders" Title="订单管理" controller="Order" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Shipments" Title="发货" controller="Order" action="ShipmentList"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Return requests" Title="退货请求" controller="ReturnRequest" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Recurring payments" Title="定期付款" controller="RecurringPayment" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Gift cards" Title="礼品卡" controller="GiftCard" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Current shopping carts" Title="当前购物车" controller="ShoppingCart" action="CurrentCarts"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Current wishlists" Title="当前收藏夹" controller="ShoppingCart" action="CurrentWishlists"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Bestsellers" Title="畅销商品" controller="Order" action="BestsellersReport"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Products never purchased" Title="从未销售过商品" controller="Order" action="NeverSoldReport"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Country report" Title="国家报表" controller="Order" action="CountryReport"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Customers" Title="客户" IconClass="fa-user" >
      <siteMapNode SystemName="Customers list" Title="客户管理" controller="Customer" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer roles" Title="客户角色" controller="CustomerRole" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Online customers" Title="在线客户" controller="OnlineCustomer" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer reports" Title="客户报表" controller="Customer" action="Reports" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Vendors" Title="供应商" controller="Vendor" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Activity log" Title="活动日志" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Activity log list" Title="活动日志" controller="ActivityLog" action="ListLogs" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Activity types" Title="日志类型" controller="ActivityLog" action="ListTypes" IconClass="fa-genderless"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Promotions" Title="促销管理" IconClass="fa-tags">
      <siteMapNode SystemName="Discounts" Title="折扣管理" controller="Discount" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Affiliates" Title="营销联盟" controller="Affiliate" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Newsletter subscriptions" Title="消息订阅" controller="NewsLetterSubscription" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Campaigns" Title="活动管理" controller="Campaign" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>