################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/config/applicationhost.config
/.vs/HKShoppingManage/DesignTimeBuild/.dtbcache
/.vs/HKShoppingManage/v15/Server/sqlite3/storage.ide-wal
/.vs/HKShoppingManage/v15/Server/sqlite3/storage.ide-shm
/.vs/HKShoppingManage/v15/Server/sqlite3/storage.ide
/.vs/HKShoppingManage/v15/Server/sqlite3/db.lock
/.vs/HKShoppingManage/v15/sqlite3/storage.ide
/.vs/HKShoppingManage/v15/.suo
