@{
    ViewBag.Title = "产品管理";
    Html.SetActiveMenuItemSystemName("Product");
}

<div class="content-header clearfix">
    <div class="pull-left">

    </div>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            <span>新增产品</span>
        </a>
    </div>
</div>

<div class="content">
    <table class="table table-bordered table-condensed">
        <thead style="font-weight:900;"><tr><th>序号</th><th>产品名称</th><th>产品类别</th><th>助记码</th><th>库存数量</th><th>产品描述</th><th>操作</th></tr></thead>
        <tbody id="customers-grid"></tbody>
    </table>
    <div id="Pagination" class="pagination"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetProductLst();
    });
    function GetProductLst() {
        pageHelper.Init({
            url: "/Product/GetPageList",
            type: "POST",
            data:
            {
                ProductName: "",
                rId: Math.random()
            },
            bind: function (data) {
                var html = "";
                $(data.Data.Data).each(function (index, dom) {
                    //每行html
                    var trHtml = [
                        '<tr>',
                        '   <td width="50" class="text-center">{0}</td>',
                        '   <td width="200" class="text-center">{1}</td>',
                        '   <td width="200" class="text-center">{5}</td>',
                        '   <td width="100" class="text-center">{2}</td>',
                        '   <td width="100" class="text-center">{6}</td>',
                        '   <td style="text-align:left;">{3}</td>',
                        '   <td width="200" class="text-center">',
                        '       <a title="详情" href="javascript:void 0;" class="aLinkgap DetailCls" attrId={4}>详情</a>',
                        '       <a title="编辑" href="javascript:void 0;" class="aLinkgap EditViewCls" attrId={4}>编辑</a>',
                        '       <a title="删除" href="javascript:void 0;" class="aLinkgap DeleteCls" attrId={4}>删除</a>',
                        '   </td>',
                        '</tr>',
                    ].join('');
                    //拼接tbody
                    html += StringHelper.FormatStr(trHtml,
                        (index + 1),
                        dom.Name,
                        dom.HelpCode,
                        dom.Description,
                        dom.Id,
                        dom.CategoryName,
                        !!dom.StockQty ? dom.StockQty:0
                    );
                });
                $("#customers-grid").html(html);
            }
        });
    }
</script>
