*{margin:0;padding: 0;}
body{background: #444 url(images/carbon_fibre_big.png)}
.loginBox{width:420px;height:230px;padding:0 20px;border:1px solid #fff; color:#000; margin-top:40px; border-radius:8px;background: white;box-shadow:0 0 15px #222; background: -moz-linear-gradient(top, #fff, #efefef 8%);background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));font:11px/1.5em 'Microsoft YaHei' ;position: absolute;left:50%;top:50%;margin-left:-210px;margin-top:-115px;}
.loginBox h2{height:45px;font-size:20px;font-weight:normal;}
.loginBox .left{border-right:1px solid #ccc;height:100%;padding-right: 20px; }
.erroBox {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
    text-align: center;
    line-height: 40px;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    display: none;
    z-index:19841015;
    background-color:black;
    color:white;
}
.progressBar {
    display: none;
    width: 190px;
    height: 52px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -95px;
    margin-top: -26px;
    padding: 10px 10px 10px 50px;
    text-align: left;
    line-height: 27px;
    font-size: 13px;
    border: solid 2px #86A5AD;
    background: white url(../Content/images/ajax-loading.gif) no-repeat 10px 10px;
    z-index: 2001;
}

.windows-mark {
    display: none;
    position: fixed;
    _position: absolute;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    filter: alpha(opacity=20);
    z-index: 111;
    background-color:black;
}